<div id="attachments_links">
	<% @page %>
	<%= link_to '[Tilbage]', edit_event_path(params[:event_id]) %>
	<%= link_to '[Opdater]', event_attachments_path(params[:event_id], :page => params[:page]) %><br>
</div>

<%= render :partial => '/attachments/partials/attachments'%>


<% content_for :javascript do %>

  <% javascript_tag do %>

     		$('.draggable').draggable();
		    $("#receive_images").droppable({
		      drop: function(event, ui){
			        $.ajax({
		              type: 'post', 
		              data: 'id=' + $(ui.draggable).attr('id') + '&event_id=<%=@attachable.id-%>', 
		              dataType: 'script',
		              url: '/attachments/create'})
		            }
		    });
		



    <% end %>

<% end %>

