<div id="attachments_links">
	<% @page %>
	<%= link_to '[Tilbage]', edit_project_path(params[:project_id]) %>
	<%= link_to '[Opdater]', project_attachments_path(params[:project_id], :page => params[:page]) %><br>
</div>

<%= render :partial => '/attachments/partials/attachments'%>


<% content_for :javascript do %>

  <% javascript_tag do %>

     		$('.draggable').draggable();
		    $("#receive_images").droppable({
		      drop: function(project, ui){
			        $.ajax({
		              type: 'post', 
		              data: 'id=' + $(ui.draggable).attr('id') + '&project_id=<%=@attachable.id-%>'  + '?&authenticity_token=' + AUTH_TOKEN, 
		              dataType: 'script',
		              url: '/attachments/create'})
		            }
		    });

    <% end %>

<% end %>

