/* FORSIDE BLOGPOSTS */

object {
	z-index: 1;
}

#forside_wrapper div.blog_post {
	z-index: 1;
}

#forside_wrapper hr {
	color: #437148;
}


#forside_border {
/*border: 1px solid #999;*/
}

#forside_wrapper.frame img {
	margin: 3px;
}

#forside_wrapper img {
	margin: 3px;
	border: 2px solid #DADADA;
}

#wrapper a.links {
	color: #333;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	line-height: 30px;
}

#forside_wrapper .body a {
	color: #991614;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
}

#forside_wrapper .body p, #forside_wrapper p a{
	color: #991614;
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
	line-height: 15px;
}


#forside_wrapper {
	width: 550px;
	min-height: 400px;
	padding: 0px 0px 0px 2px;
}

#forside_wrapper ul {
	margin: 0px;
	padding: 0px;
}

#forside_wrapper li {
	margin: 0px;
	padding: 0px;
	display: block;
}

#forside_wrapper #sortable_posts .blogpost, #forside_wrapper .blogpost{
	padding: 4px;
	border: 2px solid #9EC8A2;
	margin: 0px 0px 15px 0px;
	background-color: #FFF;
}


#forside_wrapper .topline {
	border-bottom: 1px solid #9EC8A2;
	width: auto;
	font-size:8px;
	font-weight:bolder;
	text-align:left;
	margin-right: 5px;
	padding: 0px 0px 2px 0px; /*TRBL*/
	overflow: hidden;
	height: 25px;
	line-height: 25px;
}

#forside_wrapper .author {
	color:#437148;
	margin-top:5px;
	margin-left: 0px;
	font-style: normal;
	font-weight:bold;
}

#forside_wrapper table {
	border: 1px solid #999;
}

#forside_wrapper td.tekst_foto_1 {
	padding: 10px;
}

#forside_wrapper td.foto_1 {
	width: 100px;
	text-align: center;
	vertical-align: top;
	
}

#forside_wrapper .date_time {
	color:#000;
	width: auto;
	font-size: 10px;
	font-weight:normal;
	font-style: normal;
	text-align:left;
	margin-left: 3px;
	padding: 4px 0px 5px 0px; /*TRBL*/
}
#forside_wrapper .title, #admin_blog .emne {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color:#437148;
	margin-top: 0px;
	margin-left: 2px;
	font-size: 16px;
	float: left;
}

#forside_wrapper .width345 {
	width: 345px;
}

#forside_wrapper .body {
	background-color: white;
	width: auto;
	padding-top: 5px;
}
#forside_wrapper .body p, #forside_wrapper p {
	font-size:12px;
	font-weight:normal;
	text-align:left;
	color:#000;
	margin: 0px 5px 5px 6px; /*TRBL*/
	line-height: 15px;	
}

#forside_wrapper p img {
	margin: 8px 0px 0px -2px;
}

#forside_wrapper .body br, #forside_wrapper br {
	margin-bottom: 5px;
}

#forside_wrapper img {
	margin: 10px 0px 10px 0px;
}


#forside_wrapper .foto {
	font-size:12px;
	font-weight:bold;
	text-align:left;
	color:#3D8FCB;
	margin: 0px 5px 5px 2px; /*TRBL*/
	line-height: 17px;	
}

#forside_wrapper .body ul, #admin_blog .body ol {
	padding-left: 20px;
	margin: 5px 5px 5px 5px;
}

#forside_wrapper .body ul li, #admin_blog .body ol li {
	font-size:11px;
	font-weight:normal;
	text-align:left;
	padding: 0;
	margin: 0;
}

#forside_wrapper .comment {
	z-index: 100;
	width: 535px;
	position: relative;
	left: 15px;
	height: auto;
	background-color: white;
	border: 1px solid #BAD6E9;
	margin-bottom: 8px;
}

#forside_wrapper h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	font-size:24px;
	font-weight: bold;
	text-align:left;
	color:#000;
	padding: 3px 0px 0px 5px;
}
#forside_wrapper h1 a{	
	font-size:10px;
	font-weight:normal;
	text-align:left;
	color:#333;
	margin-right:0px;
	margin-top:0px;
	margin-left: 2px;
	text-decoration:none;
}
#forside_wrapper h5 {
	font-size:10px;
	font-weight:normal;
	font-style: italic;
	text-align:right;
	color:#6D6D6D;
	margin-right: 25px;
	margin-left: 0px;
	margin-top: -2px;
	margin-bottom: 10px;
}

#forside_wrapper h5 br{
	margin-bottom: 0px;
}

#forside_wrapper #clip_outer{
	position:relative;
	width:20px;
	height:20px;
	float: right;
	margin-right: 5px;
	border: 1px solid #999;
	background-color: #FFF;
	margin-top: 2px;
}
#forside_wrapper #clip_inner{
	position:absolute;
	clip:rect(10px 30px 30px 10px);
	top:-10px;
	left:-10px;
}
