#content_wrapper #content_outer_simple {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    padding: 5px;
    width: 600px;
}

#content_wrapper #content_outer_simple #blogpost_simple {
	border: 2px solid #9EC8A2;
	margin: 0px 0px 0px 0px;
	padding: 4px;
}

#blogpost_simple .topline {
    border-bottom: 1px solid #9EC8A2;
    font-size: 8px;
    font-weight: bolder;
    height: 25px;
    line-height: 25px;
    margin-right: 5px;
    overflow: hidden;
    padding: 0px 0px 5px 2px;
    text-align: left;
    width: auto;
}

#blogpost_simple #post_assets {
    font-size: 8px;
    font-weight: bolder;
    height: 48px;
    line-height: 25px;
    margin-right: 5px;
    overflow: hidden;
    padding: 0px 0px 5px 5px;
    text-align: left;
    width: auto;
}

#blogpost_simple .title {
    color: #437148;
    float: left;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#blogpost_simple .date_time {
    color: #000000;
    font-size: 10px;
    font-style: normal;
    font-weight: normal;
    margin: 2px 0px 0px 3px;
    padding: 4px 0 5px;
    text-align: left;
    width: auto;
}

#blogpost_simple .body p, #blogpost_simple p {
    color: #000000;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    margin: 0 5px 5px 2px;
    text-align: left;
}

#blogpost_simple #clip_outer {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    float: left;
    height: 40px;
	width: 40px;
    margin-right: 5px;
    margin-top: 2px;
    position: relative;

}

#blogpost_simple #clip_inner {
    clip: rect(10px, 50px, 50px, 10px);
    left: -10px;
    position: absolute;
    top: -10px;
}