<div id="wrapper">

	<%= render :partial => "viewer/partials/viewer_top" %>

	<div id="content_wrapper">
		
		<%= render :partial => "viewer/partials/viewer_content_front" %>
		
	</div>
	
	<div id="kruby">
		<a href="http://www.kruby.dk" id="kruby">:creative_cloud_computing => KRUBY</a>
	</div>

</div>