
<div id="wrapper">

	<div id="top_wrapper">
		<div id="top_outer">
			<div id="top_text_left_wrapper">

				<div id="top_logo">
					<img src="/images/top_logo_tekst.jpg" alt=""/>
				</div>

				<div id="top_logo_2">
					<img src="/images/hammer.gif" alt=""/>
				</div>
			</div>

			<div id="top_text_right_wrapper">
				<div id="top_text_right_upper">
					Balle Tømrerfirma<br>
					v/Søren Kuskegaard<br>
					8600 Silkeborg<br>
					Tlf.: 40 47 18 48<br>
					sk@bltf.dk
				</div>
			</div>
		</div>

	</div>

	<div id="content_wrapper">
		
		<div id="site_closed">
		     Vi bruger alle værktøjer for at få siden klar igen!
		</div>

		
	</div>

</div>