<div id="content_outer_extra">
	
	<div id="content_outer">
		<div id="content_left">
			<div id="forside_wrapper">
				
				
				<h1><%= @page.title %></h1>
				
				<%= textilize(@page.body) %>
				
			</div>
			

		</div>

		<div id="content_right">
			<!-- <div id="current_projects"> -->
				<div id="headline"><%= link_to 'Aktuelle projekter', projekter_path %></div> 
			<!-- </div> -->
			
			<div id="latest_photos">
				
				
				<%= render :partial => "projects/partials/forside_projects" %>
				
			</div>
			
			<!-- <div id="activities">
							<p class="headline">Kommende aktiviteter</p>
							
							<%#= render :partial => "activities/partials/forside_activities" %>
							
						</div> -->

		</div>
	</div>

</div>