<div id="top_wrapper">
	<div id="top_outer">
		<div id="top_text_left_wrapper">
			<div id="top_text_left_upper">
				Morten Madsen
			</div>
			<div id="top_text_left_lower">
				Silkeborg Golf Club, Danmark
			</div>
			<div id="menus_left">

				<%= render :partial => "viewer/partials/viewer_menu_left" %>

			</div>
		</div>



		<div id="top_logo">
			<img src="/images/logo.gif" alt=""/>
		</div>
		<div id="top_text_right_wrapper">
			<div id="top_text_right_upper">
				Aktuelt opholdssted
			</div>
			<div id="top_text_right_lower">
				<%= @whereabouts %>
			</div>
			<div id="menus_right">

				<%= render :partial => "viewer/partials/viewer_menu_right" %>

			</div>
		</div>
	</div>
</div>