<div id="wrapper">

	<%= render :partial => "viewer/partials/viewer_top" %>

	<div id="content_wrapper">	

		<div id="content_outer_extra">

			<div id="content_outer_simple">

				<%= render :partial => "posts/partials/show" %>

			</div>


		</div>

	</div>

</div>


