<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<script type="text/javascript" src="/javascripts/topup/top_up-min.js"></script>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<link href="../images/mini.gif" rel="shortcut icon"/>
<title>Balle Tømrerfirma v/Søren Kuskegaard - 40 47 18 48</title>
<%= stylesheet_link_tag 'kruby_originaler' %>

</head>

<a href="javascript:window.close()">Close</a> this popup. 

<body>
	
<%= yield%>

</body>
</html>